@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="py-5 service-32">
    <div class="container">
        <div class="row wrap-feature-32">
            <div class="col-md-6"> <img src="~/images/athletes.png" class="img-fluid" width="100%"> </div>
            <div class="col-md-6 align-self-center">
                <h3 class="my-3">Keep track of your fitness</h3>
                <p class="mt-3">
                    Progress takes place when you are outside of your comfort zone
                    We want to help you reach your fitness goals by finding the right Personal Trainer and workout plan
                </p>
                <a class="btn btn-info-gradiant btn-md rounded-pill mt-3" href="#f32"><span>Get Started</span></a>
            </div>
        </div>
    </div>
</div>
