@page
@model KeepTrack.Pages.Athletes.CreateModel
@section Styles{
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Athlete</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6"> <img src="~/images/athleteWoman.png" class="img-fluid" width="100%"> </div>
    </div>
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Athlete.Name" class="control-label"></label>
                <input asp-for="Athlete.Name" class="form-control" />
                <span asp-validation-for="Athlete.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Athlete.Surname" class="control-label"></label>
                <input asp-for="Athlete.Surname" class="form-control" />
                <span asp-validation-for="Athlete.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Athlete.Gender" class="control-label"></label>
                <input asp-for="Athlete.Gender" class="form-control" />
                <span asp-validation-for="Athlete.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Athlete.StartDate" class="control-label"></label>
                <input asp-for="Athlete.StartDate" class="form-control" />
                <span asp-validation-for="Athlete.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="form-style form-style-two">
    <div class="row">
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items default">
                        <input type="text" placeholder="Default" />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items active">
                        <input type="text" placeholder="Active" />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5 form-group">
                <form action="#" data-toggle="validator">
                    <label>Enter userid</label>
                    <div class="input-items error">
                        <input type="text" placeholder="Error!" data-error="Please enter your userid" required />
                        <i class="lni lni-user"></i>
                    </div>
                    <div class="help-block with-errors"></div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items success">
                        <input type="text" placeholder="Success" />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items disabled">
                        <input type="text" placeholder="Disabled" disabled />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
    </div>
    <!-- row -->
</div>
<!-- form-style -->


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
